.onboard1 {
  background-image: url('../assets/bg/bg_1.png');
  background-size: cover;
  background-repeat: none;
  width: 100vw;
  height: 100vh;
}

.bg2 {
  background-image: url('../assets/bg/bg_2.png');
  background-size: cover;
  background-repeat: none;
  width: 100vw;
  height: 100vh;
}
.bg3 {
  background-image: url('../assets/bg/bg_3.png');
  background-size: cover;
  background-repeat: none;
  width: 100vw;
  height: 100vh;
}