.background-style {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.onboard1 {
  background-image: url('../assets/bg/bg_1.png');
}

.bg2 {
  background-image: url('../assets/bg/bg_2.png');
}
.bg3 {
  background-image: url('../assets/bg/bg_3.png');
}

.bg4 {
  background-image: url('../assets/bg/bg_4.png');
}

.bg5 {
  background-image: url('../assets/bg/dashboard_bg.png');
}

.bg-messages {
  background-image: url('../assets/bg/bg-messages.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.bg6 {
  background-image: url('../assets/bg/bg_6.png');
  background-size: contain;
  background-repeat: no-repeat;
}

