.input_text {
  box-sizing: border-box;
  border: 1px solid transparent;
  height: 53px;
  line-height: 53px;
  border-radius: 6px;
  padding: 16px;
  outline: none;
  transition: border 0.3s ease-in-out;
}

.input_text:hover {
  border: 1px solid rgb(14, 101, 231);
}

.input_text:focus {
  border: 1px solid rgb(14, 101, 231);
}

.input_choose {
  box-sizing: border-box;
  border: 1px solid transparent;
  height: 53px;
  line-height: 53px;
  border-radius: 6px;
  padding: 16px;
  outline: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.input_choose:hover {
  background-color: #5DE85B;
  color: white;
}

.btn_shadow {
  transition: box-shadow 0.3s ease-in-out;
}
.btn_shadow:hover {
  box-shadow: var(--boxshadow-round);
}

.btn_light_shadow {
  transition: box-shadow 0.3s ease-in-out;
}
.btn_light_shadow:hover {
  box-shadow: var(--boxshadow-course);
}

.course_shadow {
  transition: box-shadow 0.3s ease-in-out;
}
.course_shadow:hover {
  box-shadow: var(--boxshadow-course);
}

.btn_green_hover {
  color: #000000;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out,
  box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn_green_hover:hover {
  transform: scale(0.95);
  color: white;
  box-shadow: var(--boxshadow);
}

.btn_green_hover:active {
  background-color: #238a3d;
}

.btn_white_hover {
  font-weight: 600;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
  box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn_white_hover:hover {
  transform: scale(0.95);
  background-color: #5DE85B;
  color: white;
  box-shadow: var(--boxshadow);
}

.btn_white_hover:active {
  background-color: #238a3d;
}


.selected_btn {
  background-color: #0df346;
  color: #ffff;
}



.green_border_hover {
  transition: border 0.3s ease-in-out;
}

.green_border_hover:hover {
  border: 1px solid #0df346;
}

.homework_active {
  border: 1px solid #0df346;
}

.upper_first_letter {
  text-transform: capitalize;
}

.aside_menu {
  transition: background-color 0.3s ease-in-out;
}

.aside_menu:hover {
  background-color: #5DE85B;
}

.aside_menu_active {
  background-color: #5DE85B;
  position: relative;
}

.aside_menu_active::after {
  content: '';
  width: 10px;
  border-radius: 50px;
  height: 100%;
  position: absolute;
  left: -30px;
  background-color: #5DE85B;
}
