@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/style.css';
@import '../styles/bgImges.css';
@import '../styles/slider.css';
@import '../styles/scrollbar.css';

html {
  scroll-behavior: smooth;
}

.light {
  --background-fourth: #F7F7F5;
  --background-third: #F1F1F1;
  --background-second: #ffffff;
  --background: #F7F7F5;
  --background-revert: #0F0F0F;
  --shadow-revert: #ececec;
  --themetext: #1B1B1B;
  --button-text: #000000;
  --boxshadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
  --boxshadow-round: 0px 0px 25px 5px rgba(0, 0, 0, 0.50);
}

.dark {
  --background-forth: #1B1B1B;
  --background-third: #3A3A3A;
  --background-second: #1B1B1B;
  --background: #0F0F0F;
  --background-revert: #F7F7F5;
  --shadow-revert: #272727;
  --themetext: #F7F7F5;
  --button-text: #5DE85B;
  --boxshadow: 0px 4px 13px rgba(233, 227, 227, 0.25);
  --boxshadow-round: 0px 0px 20px 4px rgba(233, 227, 227, 0.25);
}
